* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// reset
html,
body {
  min-height: 100%;
  overflow: hidden;
  font-size: 14px;
}


// print
@media print {
  html,
  body {
    height: 100%;
    overflow: inherit !important;
    padding-left: 200px;
  }

  h1 {
    font-size: 20px;
    color: red !important;
  }

  .report-body-inner {
    width: 100% !important;
  }
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

ul {
  list-style: none;
}


/** table */
table {
  width: 100%;
  th, td {
    text-align: left;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    font-weight: normal;
  }
  thead {
    th {
      text-align: left;
      color: rgba(0, 0, 0, 0.45);
    }
  }
  tr {
    min-height: 30px;
  }
}
.bp-select,
.el-date-editor {
  .el-input__inner {
    border-radius: 0;
    height: 32px;
    color: #000;
    padding-left: 8px;
    font-size: 12px;
    background: #dcdcdc;
    padding: 0 10px;
  }

  .el-input__inner::placeholder {
    color: #000 !important;
  }

  .el-input__icon {
    line-height: 26px !important;
  }

  .el-range-separator {
    line-height: 24px !important;
  }

  .el-input.is-focus .el-input__inner {
    border-color: #59a8d8 !important;
    background: #fff;

  }
}
.faas-btn-primary {

  background: #1baaf5 !important;
  color: #fff !important;
  letter-spacing: 1px !important;

  &:hover {
    background: #179ADE !important;
    color: #fff !important;
  }

}
