.bp-navbarView {
  min-height: 0 !important;

  /* 导航条 */
  .bp-navbarView_bar {
    display: none !important;
  }
  
  /* 页面 */
  .bp-navbarView_page {
    min-height: 0 !important;
    box-shadow: none;
    background-color: #fff !important;

    /* 页面内容页 */
    &> div {
      padding-top: 0 !important;
      min-height: calc(100vh - 50px);
    }
  }
}


